---
page_title: "Provider: Abbey"
description: |-
    The Abbey provider is used to automate access requests and revocation flows to sensitive data.
---

# Abbey Provider

The `abbey` provider is used to automate access requests and revocation flows to sensitive data.

## Example Usage

{{ tffile "examples/provider-install-verification/main.tf" }}

## Authentication

TBD
